<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Responsive Check <%= config.url %> <%= config.selector %></title>
<link href="/css/app.css" rel="stylesheet" />
</head>
<body>
	<div class="resultView">
		<h1>Responsive Check <a href="/start/<%= configName %>">restart</a></h1>
		<p>
		<% configs.forEach(function(config) { %>
			<a href="/results/<%= config %>"><%= config %></a>
		<% }) %>
		</p>
		<h2><%= config.url %> <%= config.selector %></h2>
		<% config.engines.forEach(function(engine) { %>
			<% config.viewports.forEach(function(viewport) { %>
				<div class="result">
					<div class="result-headline">
						<%= engine %>, <%= viewport.name %>
					</div>
					<div class="result-image" style="width: <%= viewport.viewport.width %>px;height:<%= viewport.viewport.height %>px;">
						<img src="<%= baseDir %>/<%= engine %>_<%= viewport.name %>.png" />
					</div>
				</div>
			<% }) %>
		<% }) %>
	</div>
<% if (typeof livereloadPort != "undefined") { %>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':<%= livereloadPort %>/livereload.js"></' + 'script>')</script>
<% } %>
<br />
</body>

